.description {
  line-height: 1.2;
  font-size: 1.2rem;
  color: #789;
  margin: 1rem 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product{
  display: grid;
  grid-template-columns: 1fr;
}

.information{
  font-size: 16px;
}

.information h2{
  font-size: 1.4em;
  margin: .42em 0 .63em
}

.information a:hover,
.information a:focus{
  text-decoration: underline;
}

.featureProduct{
  grid-column: 1/4;
  grid-row: 1/5;
}

.featureImageWrapper{
  grid-row: 1/4;
  position: relative;
}

.featureImageWrapper img,
.secondaryProductImageWrapper img{
  object-fit: cover;
}

.secondaryProduct{
  grid-column: 4/6;
}

.secondaryProductImageWrapper{
  grid-row: 1;
}

.secondaryProductImageWrapper *{
  max-height: 100%;
}

.entryContent{
  color: #262626;
}